.row
  .col-md-1
    %h4= t '.outcomes'
  - @event.get_attributes('keys', except: ['id', 'outcomes']).each do |attr|
    .col-md-1
      %h4= attr
.row
  .col-md-1
    %a(href="#{sport_event_outcomes_path(@sport.id, @event.id)}")
      = t '.outcomes'
  - @event.get_attributes('values', except: ['id', 'outcomes']).each do |val|
    .col-md-1
      = val

